body{
    margin:0px;
    padding: 0px;
    background-color: black;
    color: white;
}
.logo{

 
  width:30%;

}
img{
    height: 30%;
    width:20%;
    margin-top: 10%;
    margin-left:20%;
   
}
nav{
    width:50%;
    
}
.button{
    width:20%;
   
  
}
header{
    display: flex;
   
}
ul{
    display:flex;
    list-style-type: none;
  
    margin-top:2.5em;
}
li{
    height:20%;
    width:20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#icon
{
  width:1.5em;
  height:1.5em;
  position:relative;
  top:16%
  
}
.hero{
  
}
.heroimage{
   
 display: inline-block;
   position: absolute;
right:0px;
top:0px;
height:75vh;
width:50vw;

}
h2{
   position:absolute;
   left:10%;
   top:30%;
   font-size:350%;
 
}
#hero{
    position:absolute;
    left:10%;
    top:60%;
    background-color: black;
    color: white;
    border:2px solid rgb(211, 103, 166);
    padding:0.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}